:root {
  --Black: #101010;
  --White: #FFF;
  --Grey-2: #EAEAEA;
  --Grey: #353535;
  --Background: #F6F6F6;
  --Primary: #9356DC;
  --grey-tint-4: #7E7E7E;
  --Green-Font: #008766;
  --Green-light: #99E2D0;
}

body {
  margin: 0;
}

.btn {
  border-radius: 25px;
  padding: 15px;
  text-decoration: none;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  border: none;
  font-family: "Roboto";
}
.btn:hover {
  background: linear-gradient(to top, #b88af0, #ffa7e3);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.button {
  display: flex;
  align-items: center;
  border-radius: 25px;
  gap: 40px;
  text-decoration: none;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: var(--White);
  border: none;
  font-family: "Roboto";
  padding-right: 48px;
  padding-left: 48px;
}
.button:hover {
  background: linear-gradient(to top, #B88AF0, #FFA7E3);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  height: 63px;
}
header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--Grey);
}
header img {
  justify-self: center;
}

.img-card {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.image-section {
  position: relative;
  top: -29px;
  background: var(--Background);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 7px;
}
@media (min-width: 768px) {
  .image-section {
    padding: 8%;
    margin-left: 15%;
    margin-right: 15%;
    top: -40px;
  }
}
.image-section .title-menu {
  display: flex;
  align-items: center;
  padding-top: 17px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .image-section .title-menu {
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}
.image-section .title-menu h1 {
  font-size: 26px;
  font-family: "Shrikhand";
  margin: 0;
}
@media (min-width: 768px) {
  .image-section .title-menu h1 {
    font-size: 28px;
  }
}
.image-section .title-menu i {
  height: 22px;
  width: 22px;
  margin-right: 24px;
}
.image-section .anim {
  animation: fadein 4s ease-in;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.image-section .anim > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.image-section .anim > div h2 {
  color: var(--Black);
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 4px;
  line-height: 18px;
  width: 42px;
  font-family: "Roboto";
  font-weight: 300;
  margin-left: 4px;
  margin-top: 0;
}
.image-section .anim > div .plats {
  background-color: var(--White);
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 5px;
  height: 69px;
  box-sizing: border-box;
}
.image-section .anim > div .plats:hover {
  padding-right: 60px;
  transition: 0.7s ease;
}
.image-section .anim > div .plats:hover .box {
  opacity: 1;
  transform: scaleX(1);
}
.image-section .anim > div .plats h3 {
  font-size: 14px;
  margin: 2px;
  margin-left: 12px;
  font-family: "Roboto";
  text-overflow: ellipsis;
}
.image-section .anim > div .plats .line {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  font-family: "Roboto";
  font-weight: 200;
}
.image-section .anim > div .plats .line .p {
  margin-left: 10px;
  margin-top: 3px;
  font-weight: 300;
  font-family: "Roboto";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.image-section .anim > div .plats .line span {
  font-weight: bold;
}
.image-section .anim > div .plats .box {
  background-color: var(--Green-light);
  display: flex;
  justify-items: center;
  align-items: center;
  width: 59px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  top: 0;
  right: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.7s ease;
}
.image-section .anim > div .plats .box .fa-lg {
  color: var(--White);
  margin-left: 20px;
}
.image-section .button-centre2 {
  height: 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Grey);
  color: var(--White);
  padding: 22px 25px;
  gap: 16px;
  margin-top: -29px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background: var(--Grey);
    color: var(--White);
    margin-top: -40px;
    flex-direction: row-reverse;
  }
}
footer .titre-footer {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  font-family: "Shrikhand";
  height: 27px;
  font-size: 18px;
}
@media (min-width: 768px) {
  footer .titre-footer {
    margin-top: 15px;
    margin-right: 0;
  }
}
footer ul {
  font-family: "Roboto";
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: end;
    padding: 30px 25px;
  }
}
footer ul li {
  padding: 7px;
  font-size: 16px;
}
footer ul li a {
  color: var(--White);
  text-decoration: none;
}
footer ul li a .fa-utensils .fa-handshake-angle {
  color: var(--White);
}

/*# sourceMappingURL=restaurants.css.map */
