:root {
  --Black: #101010;
  --White: #FFF;
  --Grey-2: #EAEAEA;
  --Grey: #353535;
  --Background:#F6F6F6;
  --Primary:#9356DC;
  --grey-tint-4:#7E7E7E;
  --Green-Font:#008766;
  --Green-light: #99E2D0;
}

body {
  margin: 0;
}

.btn {
  border-radius: 25px;
  padding: 15px;
  text-decoration: none;
  background: linear-gradient(to top, #9356dc, #ff79da);
  color: white;
  border: none;
  font-family: "Roboto";
}
.btn:hover {
  background: linear-gradient(to top, #b88af0, #ffa7e3);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header .back-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--Grey);
}
.header .logo-container {
  flex-grow: 1;
  text-align: center;
}
.header .title {
  margin: 0;
}

.img-card {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.image-section {
  position: relative;
  top: -40px;
  background: var(--Background);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 8%;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .image-section {
    padding: 8%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-width: 1024px) {
  .image-section {
    padding: 8%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
.image-section .title-menu {
  display: flex;
  align-items: center;
  padding: 13px;
  margin-top: -10%;
}
.image-section .title-menu h1 {
  flex: 1;
  text-align: center;
  font-size: 29px;
  font-style: italic;
  font-family: "Shrikhand";
  padding-top: 15px;
}
.image-section .title-menu .heart__icon-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
  margin-bottom: 10px;
  font-size: 25px;
}
.image-section .title-menu .heart__icon-menu .coeur-plein {
  position: absolute;
  opacity: 0;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.image-section .title-menu .heart__icon-menu .coeur-plein:hover {
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  animation: fill 0.3s ease-in-out;
  transition-duration: 0.3s;
}
.image-section .title-menu .heart__icon-menu .coeur-vide {
  position: absolute;
}
.image-section .title-menu .heart__icon-menu .coeur-vide:hover {
  opacity: 0;
}
.image-section .anim {
  animation: fadein 4s ease-in;
}
.image-section .anim h2 {
  color: var(--Black);
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 4px;
  line-height: 18px;
  width: 42px;
  margin-left: 4%;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 10%;
}
@media (min-width: 768px) {
  .image-section .anim h2 {
    margin-left: 2%;
  }
}
@media (min-width: 1024px) {
  .image-section .anim h2 {
    margin-left: 2%;
  }
}
.image-section .anim .plats {
  background-color: var(--White);
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  height: 69px;
  margin-left: 14px;
  margin-right: 13px;
  cursor: pointer;
  position: relative;
  margin-bottom: 15px;
}
.image-section .anim .plats:hover {
  padding-right: 60px;
  transition: 0.7s ease;
}
.image-section .anim .plats:hover .box {
  opacity: 1;
  transform: scaleX(1);
}
.image-section .anim .plats h3 {
  font-size: 17px;
  padding-top: 8px;
  margin: 5px;
  margin-left: 12px;
  font-family: "Roboto";
  text-overflow: ellipsis;
}
.image-section .anim .plats .line {
  display: flex;
  justify-content: space-between;
  margin-right: 16px;
  font-family: "Roboto";
  font-weight: 200;
}
.image-section .anim .plats .line .p {
  margin-left: 10px;
  margin-top: 3px;
  font-weight: 300;
  font-family: "Roboto";
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.image-section .anim .plats .line span {
  font-weight: bold;
}
.image-section .anim .plats .box {
  background-color: var(--Green-light);
  display: flex;
  justify-items: center;
  align-items: center;
  width: 59px;
  height: 69px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
  top: 0;
  right: 0;
  position: absolute;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.7s ease;
}
.image-section .anim .plats .box .fa-lg {
  color: var(--White);
  margin-left: 20px;
}
.image-section .button-centre2 {
  text-align: center;
  padding: 20px;
  margin-top: 46px;
  padding-bottom: 11%;
}
.image-section .button-centre2 .button {
  border-radius: 25px;
  padding: 15px;
  text-decoration: none;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  color: var(--White);
  border: none;
  font-family: "Roboto";
  padding-right: 13%;
  padding-left: 13%;
}
.image-section .button-centre2 .button:hover {
  background: linear-gradient(to top, #B88AF0, #FFA7E3);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

footer {
  display: block;
  align-items: center;
  background: var(--Grey);
  color: var(--White);
  padding: 15px;
  margin-top: -9%;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    background: var(--Grey);
    color: var(--White);
    margin-top: -40px;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    background: var(--Grey);
    color: var(--White);
    padding: 15px;
    flex-direction: row-reverse;
  }
}
footer .titre-footer {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  margin-right: 86%;
  font-family: "Shrikhand";
}
@media (min-width: 768px) {
  footer .titre-footer {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    margin-right: 0;
    font-family: "Shrikhand";
  }
}
@media (min-width: 1024px) {
  footer .titre-footer {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    margin-top: 15px;
    margin-right: 50px;
    font-family: "Shrikhand";
  }
}
footer ul {
  font-family: "Roboto";
  font-size: 14px;
  margin: 0px;
  padding: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  footer ul {
    font-family: "Roboto";
    font-size: 14px;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-right: 10%;
  }
}
@media (min-width: 1024px) {
  footer ul {
    font-family: "Roboto";
    font-size: 14px;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding-right: 10%;
  }
}
footer ul li {
  padding: 5px;
}
footer ul li a {
  color: var(--White);
  text-decoration: none;
}
footer ul li a .fa-utensils .fa-handshake-angle {
  color: var(--White);
}

/*# sourceMappingURL=restaurants.css.map */
