@import "common";

.loader {
    background: orange;
    width: 100%;
    height: 100%;
    font-size: x-large;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
    animation: loder 1s linear 1s forwards;
    top: 0;

    .loader-icon {
        vertical-align: middle;
        position: fixed;
        top: 50%;
        left: 50%;
        animation: rotate 1s linear infinite  ;

        i {
            color: var(--Black);
        }
    }
}

header {

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-style: italic;
        font-family: "Shrikhand";
        height: 36px;
        padding: 0px 19px 0px 16px;
        color: var(--Black);
        background: var(--White);
        font-size: 30px;
    }

    .icone {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 17px;
        background: var(--Grey-2);
        height: 50px;


        .fa-location-dot {
            width: 12px;
            height: 16px;
        }

        p {
            margin: 0;
            color: var(--Grey);
            font-family: Roboto;
            font-size: 16px;
        }
    }
}

.section1 {
    background: var(--Background);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 30px;

    h2 {
        font-size: 24px;
        text-align: center;
        font-family: "Roboto";
        margin: 0;

        @media (min-width: $tablette_size) {
            font-size: 40px;
        }
    }

    p {
        text-align: center;
        font-size: 17px;
        font-family: "Roboto";
        font-weight: 300;
        margin: 0;
    }
}

.sec-Fonctionnement {

    @media (min-width: $tablette_size) {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 50px 180px;
        box-sizing: border-box;
    }


    a {
        text-decoration: none;
    }

    h2 {
        font-size: 24px;
        font-family: 'Roboto';
        width: 275px;
        height: 31px;
        padding-left: 25px;

        @media (min-width: $tablette_size) {
            margin: 0;
        }


    }

    .but-fonct {

        display: flex;
        flex-direction: column;
        gap: 25px;
        padding-bottom: 20px;

        @media (min-width: $tablette_size) {
            gap: 20px;
            flex-direction: row;
        }
    }

    .button-fonc {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: "Roboto";
        border-radius: 20px;
        background: var(--Background);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        width: 95%;
        gap: 25px;

        &:hover i {
            color: var(--Primary);
        }

        @media (min-width: $tablette_size) {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'Roboto';
            border: none;
            background: var(--Background);
            border-radius: 20px;
            width: 90%;
            text-align: center;
            margin-bottom: 20px;
            justify-content: left;
        }



        .number__dot {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--Primary);
            width: 30px;
            height: 24px;
            border-radius: 50%;
            color: var(--White);
            font-size: 14px;
            position: relative;
            right: 13px;
        }

        .fa-mobile-screen-button,
        .fa-list-ul,
        .fa-store {
            color: var(--grey-tint-4);
        }

        .p-fonct {
            text-decoration: none;
            color: var(--Black);
            width: 100%;
        }
    }

}


.sec-restaurant {
    background: var(--Background);

    @media (min-width: $tablette_size) {
        padding: 30px 180px;
        box-sizing: border-box;
    }


    h2 {
        padding-left: 18px;
        padding-top: 30px;

        @media (min-width: $tablette_size) {
            font-size: 24px;
            text-align: left;
            padding: 0;
        }



    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 18px;
        justify-content: center;
        padding: 10px;
        padding-bottom: 66px;

        @media (min-width: $tablette_size) {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: center;
            padding-top: 0;
            gap: 50px;
        }

    }

    .card {
        background: var(--White);
        width: 100%;
        border-radius: 20px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        flex: 30%;
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;


        .card-img {
            width: 100%;
            object-fit: cover;
            height: 231px;
        }

        .new-badge {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: var(--Green-light);
            color: var(--Green-Font);
            padding: 5px 10px;
            border-radius: 2px;
            font-size: 12px;
            font-weight: bold;
        }

        .element {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;

            div {
                margin: 0;
                padding: 0;
            }

            .card-tittle {
                font-size: 18px;
                font-family: 'Roboto';
                margin-bottom: 0;
                padding-left: 7px;

            }

            .p-title {
                font-size: 17px;
                font-family: 'Roboto';
                font-weight: 300;
                padding-left: 7px;
                margin-top: 0;
            }

        }

    }


}

footer {
    background: var(--Grey);
    color: var(--White);
    display: flex;
    padding: 30px 25px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    @media (min-width: $tablette_size) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 50px;
    }



    .titre-footer {
        text-align: center;
        font-family: "Shrikhand";
        height: 27px;
        color: var(--White);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;

        @media (min-width: $tablette_size) {

            font-size: 20px;
            margin-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    ul {
        font-family: 'Roboto';
        font-size: 14px;
        margin: 0px;
        padding: 15px;
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;

        @media (min-width: $tablette_size) {

            display: flex;
            justify-content: end;
            color: var(--White);
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
        }



        li {
            padding: 5px;

            a {
                color: var(--White);
                text-decoration: none;

                i {
                    margin-right: 11px;
                }
            }
        }
    }

}

@keyframes fill {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loder {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


